button {
  border: none;
}

:root {
  --color-choice-a: rgb(248, 110, 110);
  --color-choice-b: rgb(145, 249, 145);
  --color-choice-c: rgb(128, 128, 186);
}

.bg-a {
  background-color: var(--color-choice-a);
}

.bg-b {
  background-color: var(--color-choice-b);
}

.bg-c {
  background-color: var(--color-choice-c);
}

.bg-green {
  background-color: green;
}

.text-green {
  color: green;
}

.text-large {
  font-size: large;
}

.padding-medium {
  padding: 1rem;
}

.rounded {
  border-radius: 8px;
}

.raised {
  box-shadow: 1px 1px 8px 2px black;
}

.active\:raised:active {
  box-shadow: 1px 1px 8px 2px black;
}

.sunken {
  box-shadow: inset 1px 1px 2px 2px black;
}

.active\:sunken:active {
  box-shadow: inset 1px 1px 2px 2px black;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-small {
  gap: 1rem;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.brighten {
  filter: brightness(1.3);
}

.hover\:brighten:hover {
  filter: brightness(1.3);
}

/*
.transition-slowley {
  transition: all 1000ms:ease-in-out;
}

 .transition-quick {
  transition: all 100ms: ease-in-out;
}
/*